#demo {
	width:70vw;
	height:70vh;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	margin:auto;
	text-align:center;
	
}
#menu {
	position:fixed;
	top:-75px;
	left:0px;
	text-align:center;
	padding:3px;
	width:50px;
	height:75px;
		
}
#downImg {
	position:absolute;
	bottom:-25px;
	right:0px;
	height:25px;		
}
.dImg {
	width:10%;
	height:25%;
	
}
#dhead {
	width:20%;
}
#dfoot {
	width:20%;
}


