body {
	margin:0;
		
}
#home {
	width:100vw;
	
}
#header {
	width:100%;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	
}
#logo {
	height:100px;
	
}
#navigation {
	width:100%;
	
}
.item {
	width:100%;
	height:20vh;
	position:relative;
	background-position:center;
	background-size:cover;	
	
}
#bg1 {
	background-image:url(imgs/bg1.jpg);
	
}
#bg2 {
	background-image:url(imgs/bg2.jpg);
}
#bg3 {
	background-image:url(imgs/bg3.jpg);
	
}
#bg4 {
	background-image:url(imgs/bg4.jpg);
}

.subTitleBox {
	width:30%;
	height:100%;
	margin:auto;
	opacity:0.5;
	
}
.subTitle {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	width:100px;
	height:30px;
	font-size:20px;
	
}
#main {
	position:fixed;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background: rgba(0, 0, 0, 0.5);	
	display:none;
	
}
#mcontents {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	width:70%;
	height:40%;
	background-color:white;
	opacity:1;
}
.show {
	display:none;
	text-align:center;
	position:absolute;
	left:0px;
	right:0px;
	margin:10px;
	
	
}
#showTitle {
	height:15%;
	width:100%;
	font-size:20px;
	border-bottom:2px solid black;
	text-align:center;
	opacity:0.5;
	
	
}
#showPic {
	width:100%;
	height:85%;
	position:absolute;
	text-align:center;	
	
}
.showGear {
	width:20%;
	height:30%;
	margin:15px;
	margin-top:50px;
	
	
	
}

